#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map-container {
  height: 100%;
  width: 100%;
  /* temporarily set the background color so we can tell where the map container is positioned */
  background-color: lightgrey;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.reset-button {
  position: absolute;
  top: 50px;
  z-index: 1;
  left: 12px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.flytoSaintVincentbtn {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.flytoHPbtn {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.HomeUIHeader {
  padding-top: 5%;
  font-size: 72px;
}

.gotoSV {
  color: #003737;
  border-radius: 120.202px;
  font-family: "Outfit", sans-serif;
  font-size: 16.828px;
  font-style: normal;
  font-weight: 500;
  line-height: 24.04px; /* 142.857% */
  letter-spacing: 0.12px;
  background: #CCE8E8;
}

.LearnMore {
  border-radius: 120.202px;
  border: 1.202px solid #DAE4E4;
  font-family: "Outfit", sans-serif;
  color: #DAE4E4;
  font-size: 16.828px;
  font-style: normal;
  font-weight: 500;
  line-height: 24.04px; /* 142.857% */
  letter-spacing: 0.12px;
  background-color: #003737;

}

button.gotoHome {
  top: 5%;
  left: 2%;
  color: #003737;
  border-radius: 10px;
  font-family: "Outfit", sans-serif;
  font-size: 16.828px;
  font-style: normal;
  font-weight: 500;
  line-height: 24.04px; /* 142.857% */
  letter-spacing: 0.12px;
  background: #CCE8E8;
  opacity: 1;
  cursor: pointer;
  pointer-events: auto;

}

.mapboxgl-canvas {
  pointer-events: auto;
}

p {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

h3 {
  font-family: "garamond", serif;
  color: #003737;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h1.HomeUIHeader {
  font-family: "garamond", serif;
  text-align: center;
  color: #F4FBFA;


  text-shadow: rgba(214,211,206,1) 0px 0px 24px;
}

p.HomeUISubheader {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  text-align: center;
  color: #F4FBFA;
  padding: 0 20px;
  font-size: 15.814px;
  line-height: 22.591px;
  letter-spacing: 0.282px;
}

.HomeUIContent{
  position: absolute;
  bottom: 20vh;
  opacity: 1;
  display: flex;
  width: 30vw;
  padding: 60px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  border-radius: 40px;
  background: rgba(218,228,228,0.10);
}

img.HomeLogo {
  width: 87px;
  height: auto;
  fill: #F4FBFA;
}

.HomeUIButtons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
}

.MapMenu {
  opacity: 0;
  position: absolute;
  width: 15vh;
  top: 5%;
  left: 2%;
  background: #DAE4E4;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 25;
  transition: "all 0.3s ease",
}

.menu-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 90%;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
}
